.card-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  .card-bottom {
    margin-top: auto;
    justify-content: space-between;
  }
  .card-image {
    height: 140px;
    transition: transform 0.2s; /* Animation */
    &:hover {
      transform: scale(1.5);
    }
  }
  .image-container {
    overflow: hidden;
  }
}
