.header-container {
  align-content: space-between;

  height: auto;

  color: rgb(223, 223, 223);
  display: flex;
  justify-content: space-between;
  #logo-div {
    cursor: pointer;
    img {
      margin-top: 35px;
      height: 30px;
    }
  }
  #add-icon {
    transition: max-height 0.15s ease-out;
    max-height: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #add-container {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    &:hover #add-icon {
      max-height: 0px;
    }
    &:hover #add-text {
      opacity: 1;
    }
  }
  #add-text {
    opacity: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    transition: opacity 0.15s ease-out;
    position: absolute;
  }
}
