#post-details-container {
  .MuiChip-root {
    font-size: 20px;
    margin-right: 20px;
  }
  img {
    display: block;
    width: 900px;
    max-width: 100%;
    height: 600px;
    object-fit: cover;
  }
}
